#
# This group is read both both by the client and the server
# use it for options that affect everything
#
# {{ ansible_managed }}
# include all files from the config directory
#
[mysqld]
bind_address=0.0.0.0
